@(id: Long, student: Form[StudentData])(implicit request: RequestHeader, flash:
Flash, messagesProvider: MessagesProvider)
@import helper._

@main("Edit Student", Html("")) {
<div class="row justify-content-md-center">
  <div class="col-md-6">
    @common.cardBody {
    @component.form(
      routes.StudentController.update(id),
      routes.StudentController.index(),
      "Edit Student",
      "Update"
      ) {
        @inputText(student("Name"), 'class -> "form-control")
        @inputText(student("Email"), 'class -> "form-control")
        @inputText(student("Student Id"), 'class -> "form-control")
        @inputText(student("IC/Passport"), 'class -> "form-control")
        @inputText(student("Nationality"), 'class -> "form-control")
        @inputText(student("Contact Number"), 'class -> "form-control")
        @inputText(student("Birth Date"), 'class -> "form-control")
        @inputText(student("Programme"), 'class -> "form-control")
        @inputText(student("Intake"), 'class -> "form-control")
        @inputText(student("Semester"), 'class -> "form-control")
      }
    }
  </div>
</div>
}
