@(students: Seq[Student])(implicit flash: Flash,  request: RequestHeader, messagesProvider: MessagesProvider)

@main("All Students") {
<div class="d-flex align-items-baseline">
  <h1 class="mr-2">All Students</h1>
  <a href="@routes.StudentController.newStudent">Add student</a>
</div>


<ul>
@for(student <- students) {
<a href="@routes.StudentController.show(student.id)">
  <li>
    @student.name

    <ul>
      <li><a href="@routes.StudentController.edit(student.id)">Edit</a></li>
      <li><a href="@routes.StudentController.delete(student.id)">Delete</li>
    </ul>
  </li>
</a>
}
</ul>
}
