@(students: Seq[Student])(implicit flash: Flash,  request: RequestHeader, messagesProvider: MessagesProvider)

@main("All Students") {
@common.jumbotron {
<h3>All Students</h3>
<a class="btn btn-primary"
   href="@routes.StudentController.newStudent">Add student</a>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(student <- students) {
    <tr>
      <td>
        <a href="@routes.StudentController.show(student.id)">
          @student.name
        </a>
      </td>
      <td>
        <a class="btn btn-primary btn-sm"
           href="@routes.StudentController.edit(student.id)">Edit</a>
        <a class="btn btn-danger btn-sm"
           href="@routes.StudentController.delete(student.id)">Delete</a>
      </td>
    </tr>
    }
  </tbody>
</table>
}
}
