@(student: Form[StudentData])(implicit request: RequestHeader, flash: Flash, messagesProvider: MessagesProvider)
@import helper._

@main("New student") {
<div class="row justify-content-md-center">
  <div class="col-md-6">
    @common.cardBody {
    @component.form(
    routes.StudentController.create(),
    routes.StudentController.index(),
    "New Student",
    "Add"
    ) {
      @inputText(student("name"), 'class -> "form-control")
      @inputText(student("email"), 'class -> "form-control")
      @inputText(student("studentId"), 'class -> "form-control")
      @inputText(student("icOrPassport"), 'class -> "form-control")
      @inputText(student("nationality"), 'class -> "form-control")
      @inputText(student("contactNumber"), 'class -> "form-control")
      @inputText(student("birthDate"), 'class -> "form-control")
      @inputText(student("programme"), 'class -> "form-control")
      @inputText(student("intake"), 'class -> "form-control")
      @inputText(student("semester"), 'class -> "form-control")
    }
    }
  </div>
</div>
}
