@(student: Student, data: StudentAPI)(implicit request: RequestHeader, flash: Flash)

@action = {
}

@attendances(data: StudentAPI, id: Long) = @{
  data.attendances.studentDetails.get(id).get
}

@main(student.name) {
@common.card(student.name)(action) {
<div class="row">
  <div class="col">
    <h4>Detail:</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-bordered table-sm">
      <tr>
        <th>Email</th>
        <td>@student.email</td>
      </tr>
      <tr>
        <th>Student ID</th>
        <td>@student.studentId</td>
      </tr>
      <tr>
        <th>IC/Passport</th>
        <td>@student.icOrPassport</td>
      </tr>
      <tr>
        <th>Nationality</th>
        <td>@student.nationality</td>
      </tr>
      <tr>
        <th>Contact Number</th>
        <td>@student.contactNumber</td>
      </tr>
    </table>
  </div>

  <div class="col">
    <table class="table table-bordered table-sm">
      <tr>
        <th>Birth Date</th>
        <td>@student.birthDate</td>
      </tr>
      <tr>
        <th>Programme</th>
        <td>@student.programme</td>
      </tr>
      <tr>
        <th>Intake</th>
        <td>@student.intake</td>
      </tr>
      <tr>
        <th>Semester</th>
        <td>@student.semester</td>
      </tr>
    </table>
  </div>
</div>


<div class="row">
  <div class="col">
    @for(course <- data.courses) {
    <div class="bq-primary px-4 py-2">
        <h3 class="bq-title font-weight-normal">@course.title</h3>
        <h5>Attendances:</h5>
        <table class="table table-bordered table-sm text-center">
          <thead>
            @for((d, v) <- attendances(data, course.id).attendances) {
            <th>@d</th>
            }
            <th>Attendance Rate</th>
          </thead>
          <tbody>
            @for((d, v) <- attendances(data, course.id).attendances) {
            <td>
              @{
              if (v == "attend") {
              <i class="fa fa-check green-text" aria-hidden="true"></i>
              } else if (v == "absent") {
              <i class="fa fa-close red-text" aria-hidden="true"></i>
              } else {
              "-"
              }
              }
            </td>
            }
            <td>@attendances(data, course.id).attendanceRate%</td>
          </tbody>
        </table>
    </blockquote>
    }
  </div>
</div>
}
}
