@(student: Student, data: StudentAPI)(implicit request: RequestHeader, flash: Flash)
@import util._

@action = {
}

@attendances(data: StudentAPI, id: Long) = @{
  data.attendances.studentDetails.get(id)
}

@courseworks(data: StudentAPI, id: Long) = @{
  data.courseworks.courseworkDetails.get(id)
}

@exams(data: StudentAPI, id: Long) = @{
  data.exams.examDetails.get(id)
}

@getStatus(data: StudentAPI, id: Long) = @{
  courseworks(data, id).get.status
}


@main(student.name) {
@common.card(student.name)(action) {
<div class="row">
  <div class="col">
    <h4>Detail:</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-bordered table-sm">
      <tr>
        <th>Email</th>
        <td>@student.email</td>
      </tr>
      <tr>
        <th>Student ID</th>
        <td>@student.studentId</td>
      </tr>
      <tr>
        <th>IC/Passport</th>
        <td>@student.icOrPassport</td>
      </tr>
      <tr>
        <th>Nationality</th>
        <td>@student.nationality</td>
      </tr>
      <tr>
        <th>Contact Number</th>
        <td>@student.contactNumber</td>
      </tr>
    </table>
  </div>

  <div class="col">
    <table class="table table-bordered table-sm">
      <tr>
        <th>Birth Date</th>
        <td>@student.birthDate</td>
      </tr>
      <tr>
        <th>Programme</th>
        <td>@student.programme</td>
      </tr>
      <tr>
        <th>Intake</th>
        <td>@student.intake</td>
      </tr>
      <tr>
        <th>Semester</th>
        <td>@student.semester</td>
      </tr>
    </table>
  </div>
</div>


<div class="row">
  <div class="col">
    @for(course <- data.courses) {
    <div class="mt-2">
        <h5>@course.title</h5>

        <h6>Attendances:</h6>
        @if(attendances(data, course.id).isDefined) {
        <table class="table table-bordered table-sm text-center">
          <thead>
            @for((d, v) <- attendances(data, course.id).get.attendances) {
            <th>@d</th>
            }
            <th>Attendance Rate</th>
          </thead>
          <tbody>
            @for((d, v) <- attendances(data, course.id).get.attendances) {
            <td>
              @{
              if (v == "attend") {
              <i class="fa fa-check green-text" aria-hidden="true"></i>
              } else if (v == "absent") {
              <i class="fa fa-close red-text" aria-hidden="true"></i>
              } else {
              "-"
              }
              }
            </td>
            }
            <td>@formatDouble(attendances(data, course.id).get.attendanceRate)%</td>
          </tbody>
        </table>
        } else {
          <p>No data available yet</p>
        }

        <h6>Courseworks:</h6>
        @if(courseworks(data, course.id).isDefined) {
        <table class="table table-bordered table-sm text-center">
          <thead>
            @for((title, _) <- courseworks(data, course.id).get.courseworks) {
            <th>@title</th>
            }
            <th>Total (@courseworks(data, course.id).get.fullMark%)</th>
            <th>Status</th>
          </thead>
          <tbody>
            @for((title, mark) <- courseworks(data, course.id).get.courseworks) {
              <td>@mark</td>
            }
            <td>@courseworks(data, course.id).get.totalMark%</td>
            <td class="@colColor(getStatus(data, course.id))">@getStatus(data, course.id)</td>
          </tbody>
        </table>
        } else {
          <p>No data available yet</p>
        }

        <h6>Finals:</h6>
        @if(exams(data, course.id).isDefined) {
        <table class="table table-bordered table-sm text-center">
          <thead>
            <th>Mark (@exams(data, course.id).get.fullMark%)</th>
            <th>Weightage (@exams(data, course.id).get.fullWeightage%)</th>
            <th>Status</th>
          </thead>
          <tbody>
            <td>@exams(data, course.id).get.exam._1</td>
            <td>@exams(data, course.id).get.exam._2%</td>
            <td class="@colColor(exams(data, course.id).get.exam._3)">
              @exams(data, course.id).get.exam._3
            </td>
          </tbody>
        </table>
        } else {
        <p>No data available yet</p>
        }
    </div>
    }
  </div>
</div>
}
}
