@(id: Long, filter: Form[FilterData])(implicit request: RequestHeader, flash:
Flash, messagesProvider: MessagesProvider)
@import helper._

@main("Edit Rules") {

<div class="row justify-content-md-center">
  <div class="col-md-6">
    @common.cardBody {
    @component.form(
      routes.CourseController.updateSetting(id),
      routes.CourseController.index(),
      "Edit Rules",
      "Update"
      ) {
        <div class="form-row">
          <div class="col-md-6">
          @inputText(filter("Passing Percentage"), 'class -> "form-control")
          </div>
          <div class="col-md-6">
          @inputText(filter("Passing Percentage Weightage"), 'class -> "form-control")
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
          @inputText(filter("Coursework Alert Percentage"), 'class -> "form-control")
          </div>
          <div class="col-md-6">
          @inputText(filter("Coursework Alert Percentage Weightage"), 'class -> "form-control")
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
          @inputText(filter("Attendance Rate"), 'class -> "form-control")
          </div>
          <div class="col-md-6">
          @inputText(filter("Attendance Rate Weightage"), 'class -> "form-control")
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
          @inputText(filter("Consecutive Missed Class Count"), 'class -> "form-control")
          </div>
          <div class="col-md-6">
        @inputText(filter("Consecutive Missed Class Count Weightage"), 'class -> "form-control")
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
          @inputText(filter("Absent Count"), 'class -> "form-control")
          </div>
          <div class="col-md-6">
          @inputText(filter("Absent Count Weightage"), 'class -> "form-control")
          </div>
        </div>
      }
    }
  </div>
</div>
}
