@(id: Long, course: Form[CourseData])(implicit request: RequestHeader, flash:
Flash, messagesProvider: MessagesProvider)
@import helper._

@main("Edit Course", Html("")) {
<div class="row justify-content-md-center">
  <div class="col-md-6">
    @common.cardBody {
    @component.form(
      routes.CourseController.updateCourse(id),
      routes.CourseController.index(),
      "Edit Course",
      "Update"
      ) {
        @inputText(course("Title"), 'class -> "form-control")
        @inputText(course("Code"), 'class -> "form-control")
        @inputText(course("Start Date"), 'class -> "form-control")
      }
    }
  </div>
</div>
}
