@(courses: Seq[Course])(implicit flash: Flash,  request: RequestHeader, messagesProvider: MessagesProvider)

@main("All Courses") {
<div class="d-flex align-items-baseline">
  <h1 class="mr-2">All Courses</h1>
  <a href="@routes.CourseController.newCourse">Add Course</a>
</div>


<ul>
@for(course <- courses) {
<a href="@routes.CourseController.showCourse(course.id)">
  <li>
    @course.title

    <ul>
      <li><a href="@routes.CourseController.editCourse(course.id)">Edit</a></li>
      <li><a href="@routes.CourseController.deleteCourse(course.id)">Delete</li>
    </ul>
  </li>
</a>
}
</ul>
}
