@(courses: Seq[Course])(implicit flash: Flash,  request: RequestHeader, messagesProvider: MessagesProvider)

@main("All Courses", Html("")) {
@common.jumbotron {
<h3>All Courses</h3>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th>Course</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    @if(courses.isEmpty) {
      <tr>
        <td colspan=2>
          <em>No courses created yet.</em>
          <a class="blue-text underline" href="@routes.CourseController.newCourse">Add your first course</a>
        </td>
      </tr>
    } else {
      @for(course <- courses) {
      <tr>
        <td>
          <a href="@routes.CourseController.showCourse(course.id)">
            @course.title
          </a>
        </td>

        <td>
          <a class="btn btn-primary btn-sm" href="@routes.CourseController.editCourse(course.id)">Edit</a>
          <a class="btn btn-danger btn-sm" href="@routes.CourseController.deleteCourse(course.id)">Delete</a>
        </td>
      </tr>
      }
    }
  </tbody>
</table>
}
}
