@(courses: Seq[Course])(implicit flash: Flash,  request: RequestHeader, messagesProvider: MessagesProvider)

@main("All Courses") {
<h1 class="mr-2">All Courses</h1>

<a class="btn btn-outline-primary btn-sm"
   href="@routes.CourseController.newCourse">Add Course</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Course</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    @for(course <- courses) {
    <tr>
      <td>
        <a href="@routes.CourseController.showCourse(course.id)">
          @course.title
        </a>
      </td>

      <td>
        <a class="btn btn-primary btn-sm" href="@routes.CourseController.editCourse(course.id)">Edit</a>
        <a class="btn btn-danger btn-sm" href="@routes.CourseController.deleteCourse(course.id)">Delete</a>
      </td>
    </tr>
    }
  </tbody>
</table>
}
