@(course: Form[CourseData])(implicit request: RequestHeader, flash: Flash, messagesProvider: MessagesProvider)
@import helper._

@main("New Course") {

<div class="row justify-content-md-center">
  <div class="col-md-6">
    @common.cardBody {
    @component.form(
    routes.CourseController.createCourse(),
    routes.CourseController.index(),
    "New Course",
    "Add"
    ) {
      @inputText(course("Title"), 'class -> "form-control")
      @inputText(course("Code"), 'class -> "form-control")
      @inputText(course("Start Date"), 'class -> "form-control")
    }
    }
  </div>
</div>
}
