@(course: Course, data: Iterable[StudentDetailsAPI])(implicit request: RequestHeader, flash: Flash)

@main(course.title) {
<h1>@course.title</h1>
<a class="btn btn-outline-primary btn-sm"
   href="@routes.CourseStudentController.newCourseStudent(course.id)">Import student</a>
<a class="btn btn-outline-primary btn-sm"
   href="@routes.CourseworkController.newImport(course.id)">Import coursework from Blackboard</a>
<a class="btn btn-outline-primary btn-sm"
   href="@routes.ExamController.newImport(course.id)">Import final exam</a>
<a class="btn btn-outline-primary btn-sm"
   href="@routes.AttendanceController.newAttendance(course.id)">Import
   Attendance</a>

<table class="table table-bordered table-responsive table-sm w-auto">
  <thead>
    <tr>
      <th>Name</th>
      @for((d, _) <- data.head.attendances) {
      <th class="text-center">@d</th>
      }
    </tr>
  </thead>
  <tbody>
    @for(d <- data) {
    <tr>
      <td>
        <a href="@routes.StudentController.show(d.student.id)">
          @d.student.name
        </a>
      </td>
      @for(attendance <- d.attendances) {
      <td class="text-center">
        @if(attendance._2 == "attend") {
          <i class="fa fa-check green-text" aria-hidden="true"></i>
        } else {
          <i class="fa fa-close red-text" aria-hidden="true"></i>
        }
      </td>
      }
    </tr>
    }
  </tbody>
</table>
}
