@(
  course: Course,
  data: CourseAPI
)(
  implicit request: RequestHeader,
  flash: Flash
)
@import util._
@import helper._

@gradeColColor(value: String)  = @{
  if (value == "F" || value == "F*") {
    "table-danger"
  } else if (value == "-") {
    ""
  } else {
    "table-success"
  }
}

@getMark(id: Long, name: String) = @{
  val mark = data.coursework.courseworkDetails
    .get(id).flatMap(_.courseworks.get(name))

  if (mark.isDefined) {
    f"${mark.get}%1.1f"
  } else {
    "-"
  }
}

@getTotalMark(id: Long) = @{
  val mark = data.coursework.courseworkDetails
    .get(id).map(_.total)

  if (mark.isDefined) {
    f"${mark.get}%1.1f"
  } else {
    "-"
  }
}

@getStatus(id: Long) = @{
  data.coursework.courseworkDetails
    .get(id).map(_.grade.name).getOrElse("-")
}

@getStatusReason(id: Long) = @{
  data.coursework.courseworkDetails
    .get(id).map(_.grade.reason).getOrElse("-")
}

@getAttendanceRate(id: Long) = @{
  val rate = data.attendance.studentDetails.get(id).map(_.stat.attendanceRate)
  if (rate.isDefined) {
    f"${rate.get}%1.1f"
  } else {
    "-"
  }
}

@getInsight(id: Long) = @{
  data.attendance.studentDetails.get(id).map(_.insight).getOrElse(Insight())
}

@getGradeFreq(grade: String) = @{
  data.coursework.statistic.gradeFrequency.get(grade).getOrElse("-")
}


@action = {
<li class="nav-item">
  <a class="nav-link"
    href="@routes.CourseController.importation(course.id)">Import data from files</a>
</li>
<li class="nav-item">
  <a class="nav-link"
    href="@routes.AttendanceController.newAttendance(course.id)">Import Attendance</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="@routes.CourseController.editSetting(course.id)">Edit Rules</a>
</li>
<li class="nav-item">
  <a class="nav-link"
    href="@routes.StudentController.deleteAll(course.id)">Remove all
    students</a>
</li>
<li class="nav-item">
  <a class="nav-link"
    href="@routes.CourseController.complete(course.id)">Mark as completed</a>
</li>
}

@main(course.title, sideNav(course): Html) {
@common.indexHeader(course, action)
@common.indexTabNav(course.id, "Overview")

@common.jumbotron {
<div class="row">
  <div class="col-md-5">
    <select class="mdb-select" id="programmeSelection">
      <option value="" selected>All</option>
      @for((k, _) <- data.programmeToIntake) {
      <option value="@k">@k</option>
      }
    </select>
    <label>Programme</label>
  </div>

  <div class="col-md-5">
    <select class="mdb-select" id="intakeSelection">
      <option value="" selected>All</option>
      @for((k, v) <- data.programmeToIntake) {
      <optgroup label="@k">
        @for(date: String <- v.split(",").sortWith(_ > _).toSet) {
        <option value="@date">@date</option>
        }
      </optgroup>
      }
    </select>
    <label>Intake</label>
  </div>

  <div class="col-md-2">
    <a id="filterBtn" href="/courses/@course.id" class="btn btn-sm btn-primary">Filter</a>
  </div>
</div>
}

<div class="row mb-3">
<div class="col">
@common.card {
  Dashboard
} {
@common.sortableTable {
<thead>
  <tr class="text-center">
    <th>Student ID</th>
    <th>Name</th>
    <th>Programme</th>
    <th>Intake</th>
    <th>Attendance Rate</th>
    @for(d <- data.coursework.courseworks) {
    <th>@d._1 (@formatDouble(d._2)%)</th>
    }
    <th>Total (@data.coursework.total)</th>
    <th>Grade</th>
    <th>Danger Level</th>
  </tr>
</thead>
<tbody>
  @for(s <- data.students) {
  <tr class="text-center">
    <td>@s.studentId</td>
    <td>
      <a href="@routes.StudentController.show(s.id)">@s.name</a>
    </td>
    <td>@s.programme</td>
    <td>@s.intake</td>
    <td>@getAttendanceRate(s.id)</td>
    @for(c <- data.coursework.courseworks.toList) {
    <td>@getMark(s.id, c._1)</td>
    }
    <td>@getTotalMark(s.id)</td>
    <td class="grade @gradeColColor(getStatus(s.id))"
        title="@getStatusReason(s.id)"
        >@getStatus(s.id)</td>
    <td class="text-center @insightColor(getInsight(s.id).dangerLevel,
        data.threshold)"
        data-toggle="popover"
        data-trigger="focus"
        data-placement="bottom"
        title="Reasons"
        data-content="@getReason(getInsight(s.id))">
      @getInsight(s.id).dangerLevel </td>
  </tr>
  }
</tbody>
}
}
</div>
</div>

<div class="row">
  <div class="col-md-6">
    @common.card {
      Statistic
    } {
    <table class="table table-borderless table-sm">
    <tr>
      <th>Max score: </th>
      <td>@formatDouble(data.coursework.descStat.max)</td>
    </tr>
    <tr>
      <th>Min score: </th>
      <td>@formatDouble(data.coursework.descStat.min)</td>
    </tr>
    <tr>
      <th>Mean: </th>
      <td>@formatDouble(data.coursework.descStat.mean)</td>
    </tr>
    <tr>
      <th>Median: </th>
      <td>@formatDouble(data.coursework.descStat.median)</td>
    </tr>
    <tr>
      <th>Mode: </th>
      <td>@formatDouble(data.coursework.descStat.mode)</td>
    </tr>
    <tr>
      <th>Standard Deviation: </th>
      <td>@formatDouble(data.coursework.descStat.standardDeviation)</td>
    </tr>
    <tr>
      <th>Variance: </th>
      <td>@formatDouble(data.coursework.descStat.variance)</td>
    </tr>
    </table>
    }
  </div>

  <div class="col-md-6">
    @common.card {
      Grade Distribution
    } {
    <table class="table table-borderless table-sm">
    <thead>
      <th>Grade</th>
      <th>Frequency</th>
    </thead>
    <tbody>
      @for(g <- Seq("A", "B", "C", "D", "E", "F", "F*")) {
      <tr>
        <th>@g</th>
        <td>@getGradeFreq(g)</td>
      </tr>
      }
    </tbody>
    </table>
    }
  </div>
</div>
}
