@(
  course: Course,
  students: Seq[Student],
  data: AttendanceAPI,
  unenrolled: Iterable[Student],
  threshold: Double
)(
  implicit request: RequestHeader,
  flash: Flash
)
@import util._

@header = {
Unenrolled students
}

@main(course.title, Html("")) {
@common.indexHeader(course, Html(""))
@common.indexTabNav(course.id, "Attendance")
@common.jumbotron {
<h3>@course.title</h3>
@common.sortableTable {
  <thead>
    <tr>
      <th>Name</th>
      @for((_, d) <- data.dates) {
      <th class="text-center">@d</th>
      }
      <th>Attendance Rate</th>
      <th>Danger Level</th>
    </tr>
  </thead>
  <tbody>
    @for((_, d) <- data.studentDetails) {
    <tr>
      <td>
        <a href="@routes.StudentController.show(d.student.id)">
          @d.student.name
        </a>
      </td>
      @for((_, date) <- data.dates.toList) {
      <td class="text-center">
        @{
        val value = d.attendances.getOrElse(date, "")
        if (value == "attend") {
          <i class="fa fa-check green-text" aria-hidden="true"></i>
        } else if (value == "absent") {
          <i class="fa fa-close red-text" aria-hidden="true"></i>
        } else {
          "-"
        }
        }
      </td>
      }
      <td class="text-center">
        @formatDouble(d.stat.attendanceRate)%
      </td>
      <td class="text-center @insightColor(d.insight.dangerLevel, threshold)"
        data-toggle="popover"
        data-trigger="focus"
        data-placement="bottom"
        title="Reasons"
        data-content="@getReason(d.insight)">
        @d.insight.dangerLevel </td>
    </tr>
    }
  </tbody>
}
}

<div class="row">
  <div class="col-md-6">
    @common.card(header) {
    <table class="table table-borderless table-sm">
      <thead>
        <th>Name</th>
        <th>Student ID</th>
      </thead>

      <tbody>
        @if(unenrolled.isEmpty) {
          <tr>
            <td><em>No students yet.</em></td>
          </tr>
        } else {
          @for(student <- unenrolled) {
          <tr>
            <td>@student.name</td>
            <td>@student.studentId</td>
          </tr>
          }
        }
      </tbody>
    </table>
    }
  </div>
</div>

}
