@(users: Seq[User])(implicit request: MessagesRequestHeader)

@request.flash.get("success").map { key =>
   @request.messages(key)
}

@request.flash.get("error").map { key =>
   @request.messages(key)
}

<h1>Listing Users</h1>

<ul>
@for(user <- users) {
<a href="@routes.UserController.showUser(user.id)">
  <li>
    @user.name

    <ul>
      <li><a href="@routes.UserController.editUser(user.id)">Edit</a></li>
      <li><a href="@routes.UserController.deleteUser(user.id)">Delete</li>
    </ul>
  </li>
</a>
}
</ul>

