@(user: Form[UserData])(implicit request: RequestHeader, flash: Flash, messagesProvider: MessagesProvider)

@import helper._

@main("Sign Up", Html("")) {

<div class="row justify-content-md-center">
  <div class="col-md-6">
    @common.cardBody {
    @component.form(
      routes.UserController.createUser(),
      routes.PageController.index(),
      "Sign Up",
      "Sign Up"
    ) {
      @inputText(user("Name"), 'class -> "form-control")
      @inputText(user("Email"), 'class -> "form-control")
      @inputPassword(user("Password"), 'class -> "form-control")
    }
    }
  </div>
</div>
}
