@(course: Course, data: ExamAPI)(implicit request: RequestHeader, flash: Flash)

@colColor(status: String) = @{
  if (status == "Pass") {
    "table-success"
  } else {
    "table-danger"
  }
}

@main(course.title) {
<h1>@course.title</h1>
<a class="btn btn-outline-primary btn-sm"
   href="@routes.ExamController.newImport(course.id)">Import
   Exam</a>

<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Marks (@data.total marks)</th>
      <th class="text-center">Weightage (@data.weightage%)</th>
      <th class="text-center">Status</th>
    </tr>
  </thead>
  <tbody>
    @for((id, d) <- data.examDetails) {
    <tr>
      <td>
        <a href="@routes.StudentController.show(d.student.id)">
          @d.student.name
        </a>
      </td>
      <td class="text-center">
        @d.exam._1
      </td>
      <td class="text-center">
        @{f"${d.exam._2}%1.1f"}%
      </td>

      <td class="text-center @colColor(d.exam._3)">
        @d.exam._3
      </td>
    </tr>
    }
    <tr class="text-center">
      <td>
      </td>
      <td>
        <strong>Average: </strong>
        @{f"${data.statistic.averageMark}%1.1f"}
      </td>
      <td>
        <strong>Average: </strong>
        @{f"${data.statistic.averageWeightage}%1.1f"}%
      </td>
      <td>
        <strong>Pass / Fail: </strong>
        @data.statistic.passCount / @data.statistic.failCount
      </td>
    </tr>
  </tbody>
</table>
}




