@(course: Course, data: ExamAPI)(implicit request: RequestHeader, flash: Flash)
@import util._

@action = {
<a class="btn btn-primary"
   href="@routes.ExamController.newImport(course.id)">Import
   Exam</a>
}

@main(course.title) {
@common.card(course.title)(action) {
@common.responsiveTable {
  <tr>
    <th>Name</th>
    <th class="text-center">Marks (@data.total marks)</th>
    <th class="text-center">Weightage (@data.weightage%)</th>
    <th class="text-center">Status</th>
  </tr>
  @for((id, d) <- data.examDetails) {
  <tr>
    <td>
      <a href="@routes.StudentController.show(d.student.id)">
        @d.student.name
      </a>
    </td>
    <td class="text-center">
      @d.exam._1
    </td>
    <td class="text-center">
      @formatDouble(d.exam._2)%
    </td>

    <td class="text-center @colColor(d.exam._3)">
      @d.exam._3
    </td>
  </tr>
  }
  <tr class="text-center">
    <td>
    </td>
    <td>
      <strong>Average: </strong>
      @formatDouble(data.statistic.averageMark)
    </td>
    <td>
      <strong>Average: </strong>
      @formatDouble(data.statistic.averageWeightage)
    </td>
    <td>
      <strong>Pass / Fail: </strong>
      @data.statistic.passCount / @data.statistic.failCount
    </td>
  </tr>
}

<h4>Overall Descriptive Statistic:</h4>
<p class="blockquote"><em>Based on total marks.</em></p>

@common.responsiveTable {
  <tr>
    <th>Max score: </th>
    <td>@formatDouble(data.descStat.max)</td>
  </tr>
  <tr>
    <th>Mean: </th>
    <td>@formatDouble(data.descStat.mean)</td>
  </tr>
  <tr>
    <th>Median: </th>
    <td>@formatDouble(data.descStat.median)</td>
  </tr>
  <tr>
    <th>Mode: </th>
    <td>@formatDouble(data.descStat.mode)</td>
  </tr>
  <tr>
    <th>Standard Deviation: </th>
    <td>@formatDouble(data.descStat.standardDeviation)</td>
  </tr>
  <tr>
    <th>Variance: </th>
    <td>@formatDouble(data.descStat.variance)</td>
  </tr>
}
}
}
