@(id: Long)(implicit request: RequestHeader)
@import helper._

@form(
  routes.CourseworkController.save(id),
  'enctype -> "multipart/form-data",
  'class -> "form-inline") {
  @CSRF.formField
  <p class="h6">Import Courseworks</p>
  <div class="md-form form-group">
    <div class="file-field">
      <div class="btn btn-default btn-sm float-left">
        <span>Choose file</span>
        <input type="file" name="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload your file">
      </div>
    </div>

    <button class="btn btn-primary btn-sm float-right" type="submit">Import</button>
  </div>
}
