@(
  course: Course,
  students: Seq[Student],
  data: CourseworkAPI,
  threshold: Double
)(
  implicit request: RequestHeader,
  flash: Flash
)
@import util._

@getCourseworkData(id: Long) = @{
  data.courseworkDetails.get(id)
}

@getMark(id: Long, c: String) = @{
  getCourseworkData(id).map(_.courseworks.get(c)).getOrElse("-")
}

@getTotal(id: Long) = @{
  getCourseworkData(id).map(_.total).getOrElse("-")
}

@getStatus(id: Long) = @{
  getCourseworkData(id).map(_.status).getOrElse("-")
}

@getInsight(id: Long) = @{
  getCourseworkData(id).map(_.insight).getOrElse(Insight())
}

@main(course.title, Html("")) {
@common.indexHeader(course)
@common.indexTabNav(course.id, "Coursework")
@common.jumbotron {
<h3>@course.title</h3>
@common.sortableTable {
  <thead>
    <tr>
      <th>Name</th>
      @for(d <- data.courseworks) {
      <th class="text-center">@d._1 (@formatDouble(d._2)%)</th>
      }
      <th class="text-center">Total
        (@formatDouble(data.total)%)
      </th>
      <th class="text-center">Status</th>
      <th>Danger Level</th>
    </tr>
  </thead>
  <tbody>
  @for(s <- students) {
  <tr>
    <td>
      <a href="@routes.StudentController.show(s.id)">
        @s.name
      </a>
    </td>
    @for(c <- data.courseworks.toList) {
    <td class="text-center">
      @getMark(s.id, c._1)
    </td>
    }
    <td
      class="text-center">@getTotal(s.id)</td>
    <td class="text-center
      @colColor(getStatus(s.id))">@getStatus(s.id)</td>
    <td class="text-center @insightColor(getInsight(s.id).dangerLevel, threshold)"
      data-toggle="popover"
      data-trigger="focus"
      data-placement="bottom"
      title="Reasons"
      data-content="@getReason(getInsight(s.id))"
      >@getInsight(s.id).dangerLevel</td>
  </tr>
  }
  </tbody>
  <tfoot>
    <tr class="text-center">
      <td></td>
      @for((_, v) <- data.statistic.averages) {
      <td>
        <strong>Average: </strong>
        @formatDouble(v)
      </td>
      }
      <td>
        <strong>Pass / Fail: </strong>
        @data.statistic.passCount / @data.statistic.failCount
      </td>
    </tr>
  </tfoot>
}
}

<div class="row">
  <div class="col">
    @common.cardBody {
    <table class="table table-borderless table-sm">
    <tr>
      <th>Max score: </th>
      <td>@formatDouble(data.descStat.max)</td>
    </tr>
    <tr>
      <th>Mean: </th>
      <td>@formatDouble(data.descStat.mean)</td>
    </tr>
    <tr>
      <th>Median: </th>
      <td>@formatDouble(data.descStat.median)</td>
    </tr>
    <tr>
      <th>Mode: </th>
      <td>@formatDouble(data.descStat.mode)</td>
    </tr>
    <tr>
      <th>Standard Deviation: </th>
      <td>@formatDouble(data.descStat.standardDeviation)</td>
    </tr>
    <tr>
      <th>Variance: </th>
      <td>@formatDouble(data.descStat.variance)</td>
    </tr>
    </table>
    }
  </div>
</div>
}

