@(course: Course, students: Seq[Student], data: CourseworkAPI)(implicit request: RequestHeader, flash: Flash)
@import util._

@getCourseworkData(id: Long) = @{
  data.courseworkDetails.get(id)
}

@getMark(id: Long, c: String) = @{
  getCourseworkData(id).map(_.courseworks.get(c)).getOrElse("-")
}

@getTotal(id: Long) = @{
  getCourseworkData(id).map(_.total).getOrElse("-")
}

@getStatus(id: Long) = @{
  getCourseworkData(id).map(_.status).getOrElse("-")
}


@action = {
<a class="btn btn-primary" href="@routes.CourseworkController.newImport(course.id)">Import
   Coursework</a>
}
@main(course.title) {
@common.card(course.title)(action) {
@common.responsiveTable {
  <tr>
    <th>Name</th>
    @for(d <- data.courseworks) {
    <th class="text-center">@d._1 (@formatDouble(d._2)%)</th>
    }
    <th class="text-center">Total
      (@formatDouble(data.total)%)
    </th>
    <th class="text-center">Status</th>
    <th>Danger Level</th>
  </tr>
  @for(s <- students) {
  <tr>
    <td>
      <a href="@routes.StudentController.show(s.id)">
        @s.name
      </a>
    </td>
    @for(c <- data.courseworks.toList) {
    <td class="text-center">
      @getMark(s.id, c._1)
    </td>
    }
    <td
      class="text-center">@getTotal(s.id)</td>
    <td class="text-center
      @colColor(getStatus(s.id))">@getStatus(s.id)</td>
    <td class="text-center"
      data-toggle="popover"
      data-trigger="focus"
      data-placement="bottom"
      title="Reasons"
      data-content="@getReason(getCourseworkData(s.id).map(_.insight).getOrElse(Insight()))"
      >@getCourseworkData(s.id).map(_.insight.dangerLevel).getOrElse("-")</td>
  </tr>
  }
  <tr class="text-center">
    <td></td>
    @for((_, v) <- data.statistic.averages) {
    <td>
      <strong>Average: </strong>
      @formatDouble(v)
    </td>
    }
    <td>
      <strong>Pass / Fail: </strong>
      @data.statistic.passCount / @data.statistic.failCount
    </td>
  </tr>
}
<h4>Overall Descriptive Statistic:</h4>
<p class="blockquote"><em>Based on total coursework mark.</em></p>

@common.responsiveTable {
  <tr>
    <th>Max score: </th>
    <td>@formatDouble(data.descStat.max)</td>
  </tr>
  <tr>
    <th>Mean: </th>
    <td>@formatDouble(data.descStat.mean)</td>
  </tr>
  <tr>
    <th>Median: </th>
    <td>@formatDouble(data.descStat.median)</td>
  </tr>
  <tr>
    <th>Mode: </th>
    <td>@formatDouble(data.descStat.mode)</td>
  </tr>
  <tr>
    <th>Standard Deviation: </th>
    <td>@formatDouble(data.descStat.standardDeviation)</td>
  </tr>
  <tr>
    <th>Variance: </th>
    <td>@formatDouble(data.descStat.variance)</td>
  </tr>
}
}
}

