@(id: Long, courseworkForm: Form[CourseworkFormData], courseworks: Seq[(String, String)])(implicit request: RequestHeader, flash: Flash, messagesProvider: MessagesProvider)
@import helper._

@main("Select Coursework", Html("")) {
<h1>Select Courseworks to import from Blackboard</h1>

@form(routes.CourseworkController.saveSelection(id)) {
  @inputCheckboxGroup(
    courseworkForm("Courseworks"),
    options = courseworks
  )
  @CSRF.formField

  <p>
    <input class="btn btn-primary" type="submit" value="Submit">
  </p>

}
}
