@(id: Long, courseworkForm: Form[CourseworkFormData], courseworks: Seq[(String, String)])(implicit request: RequestHeader, flash: Flash, messagesProvider: MessagesProvider)
@import helper._

@main("Select Coursework", Html("")) {
<div class="row justify-content-md-center">
  <div class="col-md-6">
    @common.cardBody {
    @component.form(
      routes.CourseworkController.saveSelection(id),
      routes.CourseController.index,
      "Select Courseworks to import from Blackboard",
      "Submit"
      ) {
        @inputCheckboxGroup(
          courseworkForm("Courseworks"),
          options = courseworks
          )
      }
    }
  </div>
</div>
}
