body {
  background-color: #eee;
}

.underline {
  &:hover {
    text-decoration: underline;
  }
}

table.table-borderless {
  border: 0;

  td, th {
    border-top: 0;
  }

  thead th {
    border-top: 0 !important;
    border: 0
  }
}

.table-bordered a {
  &:hover {
    color: #4285f4;
  }
}

.table-responsive .table-bordered {
  border: 0;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
  border-left-width: thin;
}

table.table thead th {
  border-top: 1px solid #dee2e6;
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable
th:last-child, table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
  border-right-width: thin;
}

table.table-bordered.dataTable tbody td {
  border-bottom-width: thin;
}

.table {
  tr {
    cursor: pointer;
  }
}


table.dataTable {
  border-collapse: collapse !important;
}
.dataTables_length label {
    margin-right: 1rem;
    padding-top: 1rem;
}
.dataTables_filter.md-form {
    margin-top: .55rem;
}
.dataTables_filter.md-form input{
    font-weight: 300;
}
.dataTables_wrapper .row {
    margin-bottom: 1.5rem; }
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    padding-bottom: 1rem;
}
.dataTables_paginate {
    float: right;
}
.dataTables_filter {
    float: right;
}

